.App{
    padding: 0 20px;
}

.table{
    background-color: rgb(212, 212, 212);
    margin: 20px 0;
}

.noUsers{
    text-align: center;
    padding: 10px;
    width: 100%;
    color: #333;
    font-size: 18px;
}

.form{
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    max-width: 800px;
    width: 100%;
    background-color: rgb(214, 214, 214);
    border-radius: 5px;
}

.input{
    max-width: 500px;
    width: 100%;
    padding: 10px;
    border: none;
    color: #333;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
}

.btn{
    text-align: center;
    width: 200px;
    background-color: #fff !important;
    color: #333 !important;
    font-size: 14px !important;
}

.err{
    font-size: 12px;
    color: rgb(194, 0, 0);
}